<ion-header>
  <ion-toolbar color=primary>
    <ion-title text-center class="titulo" size="large"> WELCOME TO THE MOVIE DATABASE</ion-title>
    <img slot="start"src='/assets/tmdb_icon.svg' height="150px" width="150px">
    
    <ion-item  slot="end" lines="none" color="primary">
      <ion-icon slot = "start" name="logo-github"></ion-icon>
      <ion-label>github.com/dasanlo14</ion-label>
    </ion-item> 
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-searchbar placeholder="Búsqueda" [(ngModel)] = "terminoBusqueda" (ionChange)="busqueda($event)"></ion-searchbar>
  <!-- <ion-list no-lines class = "ajustar"> -->
    <ion-item button *ngFor="let item of resultadoArray" [routerLink]="['/lista', item.id]">
        {{ item.title }}
    </ion-item>
  <!-- </ion-list> -->

</ion-content>
