.info-img {
    object-fit: contain;
    width: 350px;
}

.poster {
    width: 90px;
    height: 120px;
    margin: auto;
}

.title{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

.letra{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.definicion{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.synopsis{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    
}

 
.subtitle{
    min-height: 0px;

}